# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# vscode
.vscode/

# cmake-build
build/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# mesh file of mesh_path
mesh/*.off
mesh/*.msh

# latex
doc/**
!doc/DG_2D/images/
!doc/DG_3D/images/
!doc/DG_2D/*.pdf
!doc/DG_3D/*.pdf
!doc/DG_2D/*.tex
!doc/DG_3D/*.tex