# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# vscode
.vscode/

# external
external/

# cmake-build
build/

# latex
doc/DG_2D/*.aux
doc/DG_2D/*.log
doc/DG_2D/*.gz
doc/DG_2D/*.out
doc/DG_3D/*.aux
doc/DG_3D/*.log
doc/DG_3D/*.gz
doc/DG_3D/*.out


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.pyd
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# mesh file of mesh_path
mesh/*.off
mesh/*.msh

